/* Reset and base styles  */
@import url("../assets/fonts/stylesheet.css");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  font-family: "Gilroy";
  scroll-behavior: smooth;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  color: #548235;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #548235;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #3A3737;
}

.title--xs {
  max-width: 500px;
}

.container {
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
}
.container__inner {
  margin-top: 40px;
}
@media (max-width: 1760px) {
  .container {
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}

.section {
  margin-top: 100px;
}
.section--large {
  margin-top: 180px;
}
@media (max-width: 1024px) {
  .section--large {
    margin-top: 120px;
  }
}
@media (max-width: 768px) {
  .section--large {
    margin-top: 90px;
  }
}
.section--xlarge {
  margin-top: 220px;
}
@media (max-width: 1024px) {
  .section--xlarge {
    margin-top: 140px;
  }
}
@media (max-width: 768px) {
  .section--xlarge {
    margin-top: 90px;
  }
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.section__subtitle {
  max-width: 1093px;
  font-weight: 500;
  font-size: 20px;
  color: #3A3737;
}
.section__subtitle--xs {
  max-width: 470px;
  text-align: end;
}
@media (max-width: 768px) {
  .section {
    margin-top: 90px;
  }
}

.white-text {
  color: #fff;
}

.left-padding {
  padding-left: calc((100vw - 1760px) / 2) !important;
}
@media (max-width: 1760px) {
  .left-padding {
    padding-left: 24px !important;
  }
}
@media (max-width: 768px) {
  .left-padding {
    padding-left: 12px !important;
  }
}

.no-scroll {
  overflow: hidden;
}

.header {
  position: relative;
  padding-bottom: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0;
  z-index: 2;
}
.header__phone {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.header__phone--green {
  color: #548235;
}

.menu-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-nav__item {
  display: flex;
}
.menu-nav__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: #3A3737;
}
.menu-nav__link--active {
  color: #548235;
}

nav {
  display: inline-flex;
}

.footer {
  margin-top: 120px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__right {
  max-width: 620px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.copyright {
  margin-block-start: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3A3737;
}

.hero {
  max-width: 990px;
}
.hero__headline {
  margin-top: 134px;
}
.hero__subtitle {
  font-weight: 500;
  font-size: 24px;
  color: #3A3737;
}
.hero__address {
  margin-top: 30px;
  background: #F2F8EF;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 18px 30px 22px;
  max-width: 540px;
}
.hero__address p {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 18px;
  color: #3A3737;
}
.hero__address p::before {
  content: url("../assets/img/icons/point.svg");
}
.hero__bottom {
  margin-top: 33px;
}
.hero__description {
  max-width: 650px;
  font-weight: 500;
  font-size: 18px;
  color: #3A3737;
}
.hero__buttons {
  margin-top: 32px;
  display: flex;
  gap: 12px;
}

.bg-hero {
  position: absolute;
  top: 0;
  right: 0;
  height: -webkit-fill-available;
}
.bg-hero__wrapper {
  position: relative;
}
.bg-hero__btn {
  position: absolute;
  left: 50%;
  bottom: 380px;
  background: rgba(255, 255, 255, 0.7);
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.bg-hero__img {
  z-index: 1;
  height: 100%;
}

.hero-advantages {
  margin-top: 78px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, auto));
  gap: 60px;
}
.hero-advantages__item {
  display: flex;
  align-items: center;
  gap: 26px;
}
.hero-advantages__text {
  font-weight: 500;
  font-size: 16px;
  color: #3A3737;
}

.project {
  display: flex;
  gap: 30px;
}
.project__left {
  width: 36%;
  display: flex;
  flex-direction: column;
  border: 1px solid #D4E1BD;
  border-radius: 60px;
  padding: 32px;
}
.project__right {
  width: 64%;
  border-radius: 60px;
  overflow: hidden;
}
.project__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #3A3737;
}
.project__description {
  margin-block-start: auto;
  background: #548235;
  border-radius: 30px;
  padding: 32px 36px;
}
.project__text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.goals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
}
.goals__item {
  display: flex;
  gap: 30px;
  border-radius: 40px;
  padding: 40px;
  background: #D4E1BD;
}
.goals__number {
  font-weight: 700;
  font-size: 100px;
  line-height: 0.8;
  color: #548235;
}
.goals__text {
  font-weight: 500;
  font-size: 18px;
  color: #3A3737;
}

.town {
  display: flex;
  align-items: center;
  gap: 60px;
}
.town__text {
  margin-top: 12px;
  font-weight: 500;
  font-size: 20px;
  color: #3A3737;
}
.town__img:first-child {
  border-radius: 0 100px 100px 0;
  width: 18%;
  -o-object-fit: cover;
     object-fit: cover;
}
.town__img:last-child {
  border-radius: 100px 0 0 100px;
  width: 42%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-order {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.form-order__btn {
  border-radius: 36px;
  padding: 16px 28px;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
  color: #3A3737;
}

.form-consultation {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  width: 64.6428571429%;
}
.form-consultation__btn {
  border-radius: 36px;
  padding: 16px 28px;
  background: #548235;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
}

.form-feedback {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  width: 63.2926829268%;
}
.form-feedback__btn {
  border-radius: 36px;
  padding: 16px 28px;
  background: #548235;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
}

.input {
  padding: 16px 24px;
  border-radius: 36px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}
.input--white {
  color: #fff;
  border: 1px solid #fff;
}
.input--white::-moz-placeholder {
  color: #fff;
}
.input--white::placeholder {
  color: #fff;
}
.input--green {
  color: #3A3737;
  border: 1px solid #3A3737;
}
.input--green::-moz-placeholder {
  color: #3A3737;
}
.input--green::placeholder {
  color: #3A3737;
}

.order-form {
  border-radius: 40px;
  padding: 60px;
  background: #11332A;
}
.order-form__wrapper {
  max-width: 1024px;
}
.order-form__subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
}

.example {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.solutions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.solutions__wrapper {
  margin-top: 40px;
  display: grid;
}
.solutions__wrapper--large {
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 60px;
}
.solutions__left {
  padding-left: calc((100% - 1760px) / 2);
}
.solutions__left--bg {
  position: relative;
}
.solutions__left--bg::before {
  content: url("../assets/img/bg/solutions-bg.png");
  position: absolute;
  left: 0%;
  top: -110px;
  z-index: -1;
}
.solutions__left--medium {
  width: 38.5416666667%;
}
.solutions__left--large {
  width: 56.25%;
}
.solutions__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #3A3737;
}
.solutions__text:nth-of-type(2) {
  margin-top: 20px;
}
.solutions__img {
  border-radius: 100px 0 0 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.solutions__img--medium {
  max-width: 37.2916666667%;
}
.solutions__img--large {
  max-width: 57.2916666667%;
}

.swiper-build__img {
  border-radius: 24px;
}

.waiting {
  display: grid;
  gap: 32px;
}
.waiting__item {
  border: 1px solid #F2F8EF;
  border-radius: 40px;
  padding: 40px 32px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  min-height: 244px;
}
.waiting__row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 32px;
  padding-right: calc((100% - 1760px) / 2);
  grid-template-areas: "a a b c" ". d e f";
}
.waiting__row .waiting__item--first {
  position: relative;
  border-radius: unset;
  border: unset;
  padding: 54px 0 42px 0;
  box-shadow: none;
  background: none;
}
.waiting__row .waiting__item--first .waiting__text {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.waiting__row .waiting__item--first::before {
  position: absolute;
  top: -30px;
  left: 0;
  content: "";
  width: calc(100% + 150px);
  height: calc(100% + 110px);
  border-radius: 0 1000px 1000px 0;
  background: #548235;
  z-index: -1;
}
.waiting__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #552C13;
}
.waiting__title span {
  font-size: 48px;
}
.waiting__text {
  margin-top: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #3A3737;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.item5 {
  grid-area: e;
}

.item6 {
  grid-area: f;
}

.consultation-form {
  position: relative;
  border-radius: 40px;
  padding: 60px 40px;
  background: #F2F8EF;
}
.consultation-form__top {
  max-width: 910px;
}
.consultation-form__subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #3A3737;
}
.consultation-form__img {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 26.1904761905%;
}

.sources {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.sources__item {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 140px;
  border: 1px solid #F2F8EF;
  border-radius: 30px;
  padding: 25px 36px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}
.sources__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #3A3737;
}

.schedule {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.schedule__img {
  width: 51.1363636364%;
  -o-object-fit: contain;
     object-fit: contain;
}
.schedule__right {
  width: 43.1818181818%;
}
.schedule__wrapper {
  border-radius: 40px 0 0 40px;
  background: #F2F8EF;
  padding: 50px 80px;
}
.schedule__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #3A3737;
}
.schedule__text:nth-of-type(2) {
  margin-top: 20px;
}
.schedule__source {
  display: block;
  padding: 26px 80px 0 70px;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__top {
  display: flex;
  justify-content: space-between;
}
.about__description {
  border-radius: 30px;
  padding: 30px;
  background: #552C13;
  height: -moz-fit-content;
  height: fit-content;
  width: 34%;
}
.about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.about__bottom {
  margin-top: 80px;
}

.about-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 55.1136363636%;
}
.about-advantages__item {
  display: flex;
  flex-direction: column;
  max-width: 290px;
}
.about-advantages__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #3A3737;
}
.about-advantages__title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #3A3737;
}
.about-advantages__title span {
  font-size: 48px;
  line-height: 120%;
}
.about-advantages__subtitle {
  margin-top: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #548235;
}

.object__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #3A3737;
  max-width: 500px;
}
.object__wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.object__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;
  border-radius: 30px;
  padding: 40px;
  background: #F2F8EF;
}
.object__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #3A3737;
  text-align: center;
}

.feedback-form {
  border-radius: 40px;
  padding: 70px 60px;
  background: #D4E1BD;
  position: relative;
}
.feedback-form__top {
  max-width: 840px;
}
.feedback-form__subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #3A3737;
}
.feedback-form__img {
  position: absolute;
  right: 80px;
  bottom: 0;
  width: 26.1904761905%;
}

.footer-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-menu__item {
  display: flex;
}
.footer-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #3A3737;
}

.footer-social {
  margin-top: 60px;
}
.footer-social__text {
  font-weight: 700;
  font-size: 20px;
  color: #3A3737;
}
.footer-social__list {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.contacts-list__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts-list__title {
  font-weight: 700;
  font-size: 20px;
  color: #3A3737;
}
.contacts-list__text {
  font-weight: 600;
  font-size: 16px;
  color: #3A3737;
}

.info {
  max-width: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.info__btn {
  padding: 16px 28px;
}
.info__list {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info__item p, .info__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: right;
  color: #3A3737;
}
.info__item a {
  text-decoration: underline;
  outline-offset: 4px;
}
.info__back {
  margin-block-start: auto;
  font-weight: 500;
  font-size: 16px;
  color: #548235;
}

.btn {
  font-weight: 500;
  font-size: 18px;
  color: #F2F8EF;
  border-radius: 36px;
}
.btn--green {
  background: #548235;
  border: 1px solid #548235;
}
.btn--border {
  border: 1px solid #D4E1BD;
  color: #3A3737;
}

.btn-hover {
  transition: all 0.3s;
}
.btn-hover--green:hover {
  background: transparent;
  color: #3A3737;
}
.btn-hover--transparent:hover {
  background: #D4E1BD;
  color: #F2F8EF;
}

.btn-feedback {
  padding: 16px 24px;
}

.btn-pres {
  padding: 16px 24px;
}

.btn-play {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 14px;
}