.about {
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;

        @media(max-width: $breakpoint1440) {
            flex-direction: column;
        }
        @media(max-width: $breakpoint480) {
            flex-direction: column;
        }
    }

    &__description {
        border-radius: 30px;
        padding: 30px;
        background: $brown;
        height: fit-content;
        width: (584px / 1760px) * 100%;

        @media(max-width: $breakpoint1440) {
            margin-top: 40px;
        }
        @media(max-width: $breakpoint1280) {
            width: 50%;
        }
        @media(max-width: $breakpoint768) {
            border-radius: 20px;
            width: 100%;
            padding: 12px;
        }
        @media(max-width: $breakpoint480) {
            margin-top: 30px;

        }
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #fff;

        @media(max-width: $breakpoint768) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 12px;
        }
    }
    &__bottom {
        margin-top: 80px;

        @media(max-width: $breakpoint768) {
            margin-top: 40px;
        }
    }
}