.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media(max-width: $breakpoint1280) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, auto));

        margin-bottom: 20px;
    }
    @media(max-width: $breakpoint768) {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media(max-width: $breakpoint768) {
            gap: 8px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        color: $main-text;

        @media(max-width: $breakpoint768) {
            font-size: 18px;
        }
    }
    &__text {
        font-weight: 600;
        font-size: 16px;
        color: $main-text;

        @media(max-width: $breakpoint1440) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint768) {
            font-size: 14px;
        }
    }
}