.error {
    background: $green-light;
    width: 100%;
    min-height: 760px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: $breakpoint768) {
        min-height: 560px;
    }
    @media(max-width: $breakpoint480) {
        min-height: 400px;
    }

    &__title {
        font-weight: 700;
        font-size: 300px;
        line-height: 120%;
        color: $main-color;

        @media(max-width: $breakpoint768) {
            font-size: 200px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 150px;
        }
    }
    &__subtitle {
        max-width: 500px;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: $main-text;

        @media(max-width: $breakpoint768) {
            font-size: 18px;
            max-width: 400px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 16px;
            max-width: 360px;
        }

        & a {
            font-weight: 700;
            text-decoration: underline;
            color: $main-color;
        }
    }
}