.header {
    position: relative;
    overflow: hidden;

    &--main {
        padding-bottom: 100px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.12);

        @media(max-width: $breakpoint1440) {
            padding-bottom: 80px;
            border-bottom-left-radius: 80px;
            border-bottom-right-radius: 80px;
        }
        @media(max-width: $breakpoint1280) {
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        @media(max-width: $breakpoint1024) {
            padding-bottom: 60px;
            border-bottom-left-radius: 36px;
            border-bottom-right-radius: 36px;
        }
        @media(max-width: $breakpoint768) {
            padding-bottom: 40px;
        }
        @media(max-width: $breakpoint480) {
            border-bottom-left-radius: 28px;
            border-bottom-right-radius: 28px;
            padding-bottom: 16px;
        }
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 29px 0;
        z-index: 2;

        @media(max-width: $breakpoint768) {
            padding: 20px 0;
        }
        @media(max-width: $breakpoint480) {
            padding: 16px 0;
        }
    }

    &__phone {
        display: block;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        line-height: 1;

        &--green {
            color: $main-color;
        }
        @media(max-width: $breakpoint1024) {
            color: $main-color;
        }
        @media(max-width: $breakpoint768) {
            font-size: 14px;
            margin-left: auto;
            margin-right: 12px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 12px;
        }
    }
}

.logo {

    @media(max-width: $breakpoint1024) {
        max-width: 140px;
    }
    @media(max-width: $breakpoint480) {
        max-width: 100px;
    }
}
