#map-container {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}
 
#interactive-map {
    position: absolute;
    top: -280px;
    right: -600px;
    cursor: grab;
    transform: translate(0, 0); 
    // transition: all .3s ease;
    transition: inset 0.3s ease-in-out 0s;
}

.full-map {
    max-width: 100%;
    inset: -480px 0 0 0 !important;
}