.object {

    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: $main-text;
        max-width: 500px;

        @media(max-width: $breakpoint768) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 14px;
        }
    }
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;

        @media(max-width: $breakpoint1280) {
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        }
        @media(max-width: $breakpoint1024) {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }
        @media(max-width: $breakpoint768) {
            margin-top: 20px;

            gap: 8px;
        }
        @media(max-width: $breakpoint480) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 140px;
        border-radius: 30px;
        padding: 40px;
        background: $green-light;

        @media(max-width: $breakpoint768) {
            border-radius: 16px;
        }
        @media(max-width: $breakpoint480) {
            padding: 28px 0;
        }
    }
    &__text {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: $main-text;
        text-align: center;

        @media(max-width: $breakpoint480) {
            font-size: 12px;
        }
    }
}