.table {

    padding: 0 calc((100% - 1760px) / 2);

    @media(max-width: 1760px) {
        padding: 0 24px;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 16px;
    }
    @media(max-width: $breakpoint1024) {
        width: 1180px;
        overflow-x: scroll;
    }
    @media(max-width: $breakpoint480) {
        padding: 0px !important;
    }

    &__row {
        min-height: 180px;
        display: grid;
        grid-template-columns: 17% 31% 26% 26%;


        @media(max-width: $breakpoint480) {
            min-height: 100px;
            grid-template-columns: 140px 31% 26% 26%;
        }

        &:nth-child(odd) {
            background: $green-light;
            border-top-left-radius: 40px;
        }
        &:first-child {
            & .table__item--head {
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;

                @media(max-width: $breakpoint480) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 24px;
                }
            }
        }
        &:last-child {
            & .table__item--head {
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;

                @media(max-width: $breakpoint480) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 24px;
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;

        @media(max-width: $breakpoint480) {
            padding: 5px 0;
        }

        &--head {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $brown;
        }
        &--two {
            grid-column: span 2;
        }
        &:nth-child(2) {
            padding-left: 140px;

            @media(max-width: $breakpoint1280) {
                padding-left: 80px;
            }
            @media(max-width: $breakpoint480) {
                padding-left: 20px;
            }
        }
    }

    &__headline {
        max-width: 210px;

        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #fff;

        @media(max-width: $breakpoint1280) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 12px;
        }
    }
    &__text {
        max-width: 260px;

        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: $main-text;

        @media(max-width: $breakpoint1280) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 12px;
        }

        & span {
            font-weight: 700;
        }
    }

    &__inner {

    }
    &__small {
        margin-top: 8px;
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: $main-text;

        @media(max-width: $breakpoint480) {
            font-size: 10px;
            margin-top: 0;
        }
    }
}

.table-list {
    max-width: 260px;


    &__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: $main-text;

        @media(max-width: $breakpoint1280) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 14px;
        }

        & span {
            font-weight: 700;
        }

        &:nth-child(2) {
            margin-top: 12px;

            @media(max-width: $breakpoint1280) {
                margin-top: 8px;
            }
        }
    }
}