// @import url("../fonts/stylesheet.css");

// color
$main-color: #548235;
$accent-color: #D4E1BD;
$green-light: #F2F8EF;
$secondary-color: #11332A; 
$main-text: #3A3737;
$brown: #552C13; 

// breakpoint 
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: 'Gilroy';

// border-radius
$main-radius: 35px;